<!DOCTYPE html>
<html>
<head>
    <title> {{ title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/uikit.min.css"/>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav class="uk-navbar-container uk-dark" id="myNav" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="/news">News</a></li>
                <li><a href="/documents/installing-hyacinth">Documentation</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/users/login">Login</a></li>
            </ul>
    </div>
</nav>
    {{{body}}}
</body>
<footer>
    <div class="uk-section uk-section-large">
    <div class="uk-container">

        <h3>Footer</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>
    </div>
</div>
</footer>
</html>